<div class="row text-xs-center">
  <h1>Votre logement à <%= @accomodation.trip.destination %></h1>
</div>
<br>
<br>
<%= simple_form_for [@trip, @accomodation] do |f| %>
<div class="row">
  <div class="col-sm-4">
    <div class="card card-block width-card">
        <%= f.input :accomodation_type, default: "AirBnB", label: "<i class='fa fa-home' aria-hidden='true'></i>
        Type de logement".html_safe, collection: ["AirBnB", "Hotel", "Guest House", "Famille/amis", "Location", "Autre..."] %>
        <%= f.input :address, label: "Adresse", input_html: { id: :autocomplete } %>
        <%= f.input :start_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Date d'arrivée".html_safe, default:  @trip.start_date %>
        <%= f.input :end_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Date de départ".html_safe, default:  @trip.end_date %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block width-card">
      <%= f.input :contact %>
      <div class="col-sm-12">
        <div class="col-sm-10"><%= f.input :link, label: false, placeholder: "Ex:  https://www.airbnb.fr/" %></div>
        <div class="col-sm-2">
          <%= link_to @accomodation.link do %>
            <span class="tag tag-pill tag-info">Voir</span>
            <% end %>
        </div>
      </div>

      <%= f.input :price, label: "Coût de la réservation", input_html: { style: 'width:100px' } %>
      <%= f.input :number_of_persons, label: "<i class='fa fa-users' aria-hidden='true'></i> Nombre de personnes".html_safe, input_html: { style: 'width:100px' } %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block width-card">
      <h4 class="card-title">C'est confirmé!</h4>
      <br>
    <h3><span class="tag tag-pill tag-primary">Vous séjournerez <%= @accomodation.count_night %> nuités</span></h3>
    <p>Pour un total de: </p>
    <h3><span class="tag tag-pill tag-primary"><%= number_to_currency(@accomodation.price_per_personne, :unit => "€ ") %> /personne</span></p></h3>
    <p>Soit: </p>
    <h3><span class="tag tag-pill tag-primary"><%= number_to_currency(@accomodation.price_per_person_per_night, :unit => "€ ") %> /nuit</span></p></h3>
  </div>
</div>
</div>
<br>
<br>
<div class="row text-xs-center">
  <%= link_to 'Annuler', root_path, class:"btn btn-warning" %> |
  <%= f.button :submit, "Valider", class: "btn btn-success" %> |
  <%= link_to 'Supprimer', trip_accomodation_path, method: :delete, data: { confirm: "Confirmer la suppression" }, class:"btn btn-danger" %>
</div>
<% end %>
<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var autocomplete;
function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});
    autocomplete.addListener('place_changed', function(){
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.lng()
      var latitude = place.geometry.location.lat()
      console.log(longitude);
      console.log(latitude);
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete"
  async defer>
  </script>
