<%= simple_form_for [@trip, @accomodation] do |f| %>
<div class="row">
  <div class="col-sm-9">
    <h2><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Update your accommodation in <%= @trip.destination %></h2>
  </div>
  <div class="col-sm-3 text-xs-right">
    <%= f.button :submit, "SUBMIT", class: "btn btn-primary" %>
  </div>
</div>
<hr>
<div id="edit-accomodation" class="row spacer-margin">
  <div class="col-sm-6">
    <div class="card card-block">
      <div class="row">
        <div class="col-sm-5">
          <%= f.input :accomodation_type, label: "<i class='fa fa-home' aria-hidden='true'></i> Type :".html_safe, collection: ["AirBnB", "Hostel", "Hotel room", "Friends/family", "House Rental", "Guest House", "Other..."] %>
        </div>
        <div class="col-sm-7">
          <%= f.input :address, label: "<i class='fa fa-map-marker' aria-hidden='true'></i> Address :".html_safe, input_html: { id: :autocomplete } %>
          <%= f.input :longitude, as: :hidden %>
          <%= f.input :latitude, as: :hidden %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :start_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Check-in :".html_safe, as: :string, input_html: { class:"datetimepicker" } %>
        </div>
        <div class="col-sm-6">
          <%= f.input :end_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Check-out :".html_safe, as: :string, input_html: { class:"datetimepicker" } %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <%= f.input :contact_name, label: "Contact name :" %>
        </div>
          <div class="col-sm-6">
            <%= f.input :contact_phone, label: "Phone :" %>
          </div>
          <div class="col-xs-12">
            <%= f.input :contact_email, label: "Email :" %>
          </div>
        </div>
      <div class="row">
        <div class="col-sm-8">
          <%= f.input :link, label: "<i class='fa fa-link' aria-hidden='true'></i> Link :".html_safe, placeholder: "Ex:  https://www.airbnb.fr/" %>
        </div>
        <div class="col-sm-4">
          <%= f.input :price, label: "Price :"%>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>


<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var autocomplete;
function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});
    autocomplete.addListener('place_changed', function(){
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.lng();
      var latitude = place.geometry.location.lat();
      $('#accomodation_longitude').val(longitude);
      $('#accomodation_latitude').val(latitude);
      $('#google_info').val(JSON.stringify(place));
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete"
  async defer>
  </script>
  <script type="text/javascript">
  $('.datetimepicker').datetimepicker({
    format: "YYYY-MM-DD"
  });
  </script>
