<%= simple_form_for [@trip, @accomodation] do |f| %>
<div id="edit-accomodation" class="row">
  <div class="col-sm-4 offset-sm-2">
    <div class="card card-block width-card">
        <%= f.input :accomodation_type, label: "<i class='fa fa-home' aria-hidden='true'></i>
        Accomodation type :".html_safe, collection: ["AirBnB", "Hostel", "Hotel room", "Friends/family", "House Rental", "Guest House", "Other..."] %>
        <%= f.input :address, label: "<i class='fa fa-map-marker' aria-hidden='true'></i> Address :".html_safe, input_html: { id: :autocomplete } %>
        <%= f.input :longitude, as: :hidden %>
        <%= f.input :latitude, as: :hidden %>
        <%= f.input :start_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Check-in :".html_safe, default:  @trip.start_date %>
        <%= f.input :end_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Check-out :".html_safe, default:  @trip.end_date %>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card card-block width-card">
      <%= f.input :contact, label: "<i class='fa fa-mobile' aria-hidden='true'></i> <i class='fa fa-at' aria-hidden='true'></i> Contact :".html_safe %>
      <%= f.input :link, label: "Link :", placeholder: "Ex:  https://www.airbnb.fr/" %>
      <%= f.input :price, label: "Cost of booking :", input_html: { style: 'width:100px' } %>
      <%= f.input :number_of_persons, label: "<i class='fa fa-users' aria-hidden='true'></i> Nombre de personnes".html_safe, input_html: { style: 'width:100px' } %>
    </div>
  </div>
</div>

<br>
<br>
<div class="row text-xs-center">
  <%= link_to 'Cancel', trips_path, class:"btn btn-warning" %> |
  <%= f.button :submit, "validate", class: "btn btn-primary" %> |
  <%= link_to 'Delete', trip_accomodation_path, method: :delete, data: { confirm: "Confirmer la suppression" }, class:"btn btn-danger" %>
</div>
<% end %>


<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var autocomplete;
function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});
    autocomplete.addListener('place_changed', function(){
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.lng();
      var latitude = place.geometry.location.lat();
      $('#accomodation_longitude').val(longitude);
      $('#accomodation_latitude').val(latitude);
      $('#google_info').val(JSON.stringify(place));
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete"
  async defer>
  </script>
