<div class="row">
  <div class="col-sm-8">
    <h1>Your accomodation(s) in <%= @trip.destination %> </h1>
  </div>
  <div class="col-sm-4 text-xs-right">
    <%= link_to  new_trip_accomodation_path, class:"btn btn-outline-primary" do %>
      <i class="fa fa-plus" aria-hidden="true"></i> Add an accomodation
    <% end %>
  </div>
</div>
<hr>

<div class="row spacer-margin">
  <div class="col-md-6">
    <% @accomodations.each do |accomodation| %>
      <div class="card card-block">
        <div class="row">
          <div class="col-xs-8">
            <h4 class="card-title"> <i class="fa fa-home" aria-hidden="true"></i> <%= accomodation.accomodation_type %></h4>
          </div>
          <div class="col-xs-4 text-xs-right">
            <%= link_to "Edit", edit_trip_accomodation_path(@trip, accomodation) %>
          </div>
        </div>

        <hr>
        <dl class="row">
          <dt class="col-xs-4"><i class="fa fa-calendar" aria-hidden="true"></i> Check-in</dt>
          <dd class="col-xs-8"><%= (accomodation.start_date).strftime("%b - %d - %Y" ) %> <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_trip_accomodation_path(@trip, accomodation) %></dd>
          <dt class="col-xs-4"><i class="fa fa-calendar" aria-hidden="true"></i> Check-out</dt>
          <dd class="col-xs-8"><%= (accomodation.end_date).strftime("%b - %d - %Y" ) %> <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_trip_accomodation_path(@trip, accomodation) %></dd>
          <dt class="col-xs-4"><i class="fa fa-bed" aria-hidden="true"></i> Count nights</dt>
          <dd class="col-xs-8"><%= accomodation.count_night %> Nights</dd>
        </dl>
        <hr>
        <dl class="row">
          <dt class="col-xs-4"><i class="fa fa-map-marker" aria-hidden="true"></i> Address </dt>
          <dd class="col-xs-8">
            <% if accomodation.address == "" %>
              <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> Add an address'.html_safe, edit_trip_accomodation_path(@trip, accomodation) %>
            <% else %>
              <%= accomodation.address %> <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_trip_accomodation_path(@trip, accomodation) %>
            <% end %>
          </dd>
          <dt class="col-sm-4"><i class="fa fa-user-o" aria-hidden="true"></i> Contact</dt>
          <dd class="col-sm-8">
            <%= accomodation.contact_name %> <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_trip_accomodation_path(@trip, accomodation) %><br>
          </dd>
          <dd class="col-sm-8 offset-sm-4">
            <i class='fa fa-mobile' aria-hidden='true'></i>  <%=  accomodation.contact_phone %>
          </dd>
          <dd class="col-sm-8 offset-sm-4">
            <i class='fa fa-at' aria-hidden='true'></i> <%= accomodation.contact_email %>
          </dd>
          <dt class="col-xs-4"><i class="fa fa-link" aria-hidden="true"></i> Link </dt>
          <dd class="col-xs-8">
            <% if accomodation.link == "" %>
              <%= link_to '<i class="fa fa-pencil" aria-hidden="true"></i> Add the link'.html_safe, edit_trip_accomodation_path(@trip, accomodation) %>
            <% else %>
            <%= link_to accomodation.link, target: "_blank", class:"btn btn-outline-primary btn-sm"  do %>
                <i class="fa fa-info-circle" aria-hidden="true"></i> Website
              <% end %>
            <% end %>
          </dd>
      </dl>
      <hr>
      <dl class="row">
        <dt class="col-xs-4">Price per traveler </dt>
        <dd class="col-xs-8">
          <% if accomodation.price > 0 %>
            <span class="tag tag-primary"><%= number_to_currency(accomodation.price_per_personne, :unit => "€ ") %></span>
          <% else %>
            <%= link_to 'Not defined <i class="fa fa-pencil" aria-hidden="true"></i>'.html_safe, edit_trip_accomodation_path(@trip, accomodation) %>
          <% end %>
        </dd>
        <% unless accomodation.price == 0 %>
          <dt class="col-sm-4">Price per night</dt>
          <dd class="col-sm-8">
            <span class="tag tag-primary"><%= number_to_currency(accomodation.price_per_person_per_night, :unit => "€ ") %></span>
          </dd>
        <% end %>
      </dl>
      <hr>
      <div class="row text-xs-right">
        <%= link_to "<i class='fa fa-trash-o' aria-hidden='true'></i> Delete".html_safe, trip_accomodation_path(@trip, accomodation), method: :delete, data: { confirm: "Confirmez la suppression" } %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- google map -->
  <div class="col-md-6">
    <div class="card card-block">
      <h4 class="card-title">Itinerary</h4>
      <div id="map" class="width-card">
      </div>
    </div>
  </div>

</div>

<!-- script google map -->

<script type="text/javascript">
function initMap() {
  var myLatLng = { lat: <%= @lat %>, lng: <%= @long %> };
  console.log(myLatLng)
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 15,
    center: myLatLng,
  });
  <% @accomodations.each do |acmd| %>
    <% next unless acmd.longitude && acmd.latitude %>
    new google.maps.Marker({
      position: { lat: <%= acmd.latitude %>, lng: <%= acmd.longitude %>},
      map: map,
      title: 'Check-in date: <%= (acmd.start_date).strftime("%b - %d - %Y") %>'
    });
  <% end %>
}
 </script>
 <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&callback=initMap">
 </script>
