<div class="row text-xs-center">
    <h1>Where do you stay in <%= @trip.destination %> ?</h1>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-4">
    <div class="card card-block">
      <%= simple_form_for [@trip, @accomodation] do |f| %>
          <%= f.input :accomodation_type, default: "AirBnB", label: "<i class='fa fa-home' aria-hidden='true'></i>
 Accomodation type".html_safe, collection: ["AirBnB", "Hostel", "Hotel room", "Guest House", "Friends/family", "House Rental", "Other..."] %>
          <%= f.input :address, label: "<i class='fa fa-map-marker' aria-hidden='true'></i> Address".html_safe, input_html: {id: :autocomplete} %>
          <%= f.input :longitude, as: :hidden %>
          <%= f.input :latitude, as: :hidden %>
          <%= f.input :start_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Check-in :".html_safe, default:  @trip.start_date %>
          <%= f.input :end_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Check-out :".html_safe, default:  @trip.end_date %>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-block">
          <p>
          <i class="fa fa-info-circle" aria-hidden="true"></i>  Contact info :
          </p>
          <%= f.input :contact_name, label: "Name :" %>
          <%= f.input :contact_phone, label: "<i class='fa fa-mobile' aria-hidden='true'></i> Phone Number :".html_safe %>
          <%= f.input :contact_email, label: "</i> <i class='fa fa-at' aria-hidden='true'></i>  Email :".html_safe %>

        </div>
      </div>
      <div class="col-sm-4">
        <div class="card card-block">
          <%= f.input :link, label: "<i class='fa fa-link' aria-hidden='true'></i>  Web site :".html_safe, placeholder: "Ex:  https://www.airbnb.fr/" %>
          <%= f.input :price, label: "<i class='fa fa-money' aria-hidden='true'></i> Total cost :".html_safe, input_html: { style: 'width:100px', value: "00" } %>
          <%= f.input :number_of_persons, label: "<i class='fa fa-users' aria-hidden='true'></i> Travelers :".html_safe, input_html: { style: 'width:100px', value: @trip.person_number } %>
        </div>
      </div>
      </div>
      <div class="row text-xs-center">
        <%= link_to 'Cancel', trips_path, class:"btn btn-warning" %> |
        <%= f.button :submit, "Submit", class: "btn btn-primary" %>
      </div>
      <% end %>
      <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      var autocomplete;
      function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
          /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
          {types: ['geocode']});
          autocomplete.addListener('place_changed', function(){
            var place = autocomplete.getPlace();
            var longitude = place.geometry.location.lng()
            var latitude = place.geometry.location.lat()
            $('#accomodation_longitude').val(longitude);
            $('#accomodation_latitude').val(latitude);
            $('#google_info').val(JSON.stringify(place));
          });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer>
        </script>
