<div class="row text-xs-center">
    <h1>Where did you stay in <%= @trip.destination %> ?</h1>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card card-block width-card">
      <%= simple_form_for [@trip, @accomodation] do |f| %>
          <%= f.input :accomodation_type, default: "AirBnB", label: "<i class='fa fa-home' aria-hidden='true'></i>
 Type de logement".html_safe, collection: ["AirBnB", "Hostel", "Hotel room", "Guest House", "Famille/amis", "House Rental", "Other..."] %>
          <%= f.input :address, label: "Adresse", input_html: {id: :autocomplete} %>
          <%= f.input :longitude, as: :hidden %>
          <%= f.input :latitude, as: :hidden %>
          <%= f.input :start_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Date d'arrivée".html_safe, default:  @trip.start_date %>
          <%= f.input :end_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Date de départ".html_safe, default:  @trip.end_date %>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-block width-card">
          <%= f.input :contact, placeholder: "Email ou téléphone" %>
          <%= f.input :link, label: "Lien utile", placeholder: "Ex:  https://www.airbnb.fr/" %>
          <%= f.input :price, label: "Coût de la réservation", input_html: { style: 'width:100px', value: "00" } %>
          <%= f.input :number_of_persons, label: "<i class='fa fa-users' aria-hidden='true'></i> Nombre de voyageurs".html_safe, input_html: { style: 'width:100px', value: @trip.person_number } %>
        </div>
      </div>
    </div>
      <div class="row text-xs-center">
        <%= link_to 'Cancel', trips_path, class:"btn btn-warning" %> |
        <%= f.button :submit, "Submit", class: "btn btn-success" %>
      </div>
      <% end %>
      <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      var autocomplete;
      function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
          /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
          {types: ['geocode']});
          autocomplete.addListener('place_changed', function(){
            var place = autocomplete.getPlace();
            var longitude = place.geometry.location.lng()
            var latitude = place.geometry.location.lat()
            $('#accomodation_longitude').val(longitude);
            $('#accomodation_latitude').val(latitude);
            $('#google_info').val(JSON.stringify(place));
          });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete"
        async defer>
        </script>
