<div class="row">
  <div class="col-xs-12">
    <h2>What is your accommodation <%= @trip.destination %> ?</h2>
  </div>
</div>
<hr>
<%= simple_form_for [@trip, @accomodation] do |f| %>
  <% if @accomodation.errors.any? %>
   <div>
     <h2> Oups ! </h2>
     <ul>
       <% @accomodation.errors.full_messages.each do |msg| %>
           <li style="color:red"><%= msg %></li>
       <% end %>
     </ul>
   </div>
   <% end %>
<div class="row spacer-margin">
  <div class="col-lg-6 offset-lg-3">
    <div class="card card-outline-primary">
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :accomodation_type, default: "AirBnB", label: "<i class='fa fa-home' aria-hidden='true'></i> Accommodation type".html_safe, collection: ["AirBnB", "Hostel", "Hotel room", "Guest House", "Friends/family", "House Rental", "Other..."] %>
          </div>
          <div class="col-sm-6">
            <%= f.input :user_ids, label: "<i class='fa fa-users' aria-hidden='true'></i><strong> Travelers </strong>".html_safe, collection: @users, label_method: :first_name, input_html: { multiple: true, class:"select" } %>

          </div>
        </div>
        <!-- hidden input -->
        <%= f.input :longitude, as: :hidden %>
        <%= f.input :latitude, as: :hidden %>
        <!--  -->
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :start_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Check-in :".html_safe,  as: :string, input_html: { class:"datetimepicker", value: @trip.start_date } %>
          </div>
          <div class="col-sm-6">
            <%= f.input :end_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Check-out :".html_safe,  as: :string, input_html: { class:"datetimepicker", value: @trip.end_date } %>
          </div>
          <div class="col-sm-12">
            <%= f.input :address, label: "<i class='fa fa-map-marker' aria-hidden='true'></i> Address".html_safe, input_html: {id: :autocomplete} %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-9">
            <%= f.input :link, label: "<i class='fa fa-link' aria-hidden='true'></i>  Web site :".html_safe, placeholder: "Ex:  https://www.airbnb.fr/" %>
          </div>
          <div class="col-sm-3">
            <%= f.input :price, label: "<i class='fa fa-money' aria-hidden='true'></i> Total cost :".html_safe, input_html: { style: 'width:100px', value: "00" } %>
          </div>
        </div>

        <hr>
        <div class="row">
          <div class="col-xs-12">
            <i class="fa fa-info-circle" aria-hidden="true"></i>  <strong>Contact info :</strong>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :contact_name, label: "Name", placeholder: "Name of my host" %>
          </div>
          <div class="col-sm-6">
            <%= f.input :contact_phone, label: "<i class='fa fa-mobile' aria-hidden='true'></i> Phone Number :".html_safe, placeholder: "+33 111111111" %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%= f.input :contact_email, label: "</i> <i class='fa fa-at' aria-hidden='true'></i>  Email :".html_safe, placeholder: "myhost@gmail.com" %>
          </div>
        </div>

        <div class="row text-xs-center">
          <%= f.button :submit, "Submit", class: "btn btn-primary" %>
        </div>
      </div>

      </div>
    </div>
  </div>
  <% end %>


      <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      var autocomplete;
      function initAutocomplete() {
        autocomplete = new google.maps.places.Autocomplete(
          /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
          {types: ['geocode']});
          autocomplete.addListener('place_changed', function(){
            var place = autocomplete.getPlace();
            var longitude = place.geometry.location.lng()
            var latitude = place.geometry.location.lat()
            $('#accomodation_longitude').val(longitude);
            $('#accomodation_latitude').val(latitude);

            $('#google_info').val(JSON.stringify(place));
          });
        }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete&language=en"
        async defer>
        </script>
        <script type="text/javascript">
        $('.datetimepicker').datetimepicker({
          format: "YYYY-MM-DD"
        });
        </script>
