<div class="row">
  <div class="col-sm-2 text-xs-right">
    <%= render "share/avatar" %>
  </div>
  <div class="col-sm-10">
      <h1>Hi <%= @user.first_name %> !</h1>
  </div>
</div>
<hr>
<div class="row spacer-margin">
  <div class="col-sm-6">
  <% if !@current_trip %>
    <h2 class="fadeIn">You don't have current trip for the moment </h2>
    <%= link_to "Change that !", new_trip_path %>
  <% else %>
      <div class="card fadeIn">
        <div class="card-header">
          <a href="#map" class="link-map">
            <h2>Current trip to: <%= @current_trip.destination %></h2>
          </a>
        </div>
        <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <p><strong>Start date :</strong> <%= @current_trip.start_date %></p>
            <p>End date : <%= @current_trip.end_date %></p>
          </div>
          <div class="col-sm-6">
            <p>
              Travelers:
              <% @current_trip.users.each do |user| %>
              <li class="list-unstyled">
              <% if user.filepicker_url %>
                <%= filepicker_image_tag user.filepicker_url, {w: 25, h: 25, fit: 'crop'}, class:"img-circle" %>
              <% else %>
                <%= image_tag("user.png") %>
              <% end %>
                <%= user.first_name %>
              </li>
            <% end %>
            </p>
          </div>
          </div>
          <div class="row">
          <div class="col-sm-6">
            <p>Total cost : <%= @current_trip.total_cost %></p>
          </div>
          <div class="col-sm-6">
            <p>Cost per traveler : <%= @current_trip.total_cost_per_traveler %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <p>
            <% if @current_trip.accomodations.empty? %>
              <%= link_to "Add an accomodation", new_trip_accomodation_path(@current_trip), style:"font-size:20px" %>
            <% else %>
              Accomodation :
              <% @current_trip.accomodations.each do |acmd| %>
                <%= link_to acmd.accomodation_type, trip_accomodations_path(@current_trip, acmd) %>
                <%= acmd.address %>
              <% end %>
            <% end %>
            </p>
          </div>
          <div class="col-sm-12">
            <% if @current_trip.transportations.empty? %>
              <%= link_to "Add transportation(s)", new_trip_transportation_path(@current_trip), style:"font-size:20px" %>
            <% else %>
              Transportation(s) :
              <% @current_trip.transportations.each do |transport| %>
                <%= link_to transport.transportation_type, trip_transportations_path(@current_trip, transport) %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  text-xs-right">
              <%= link_to "Edit", edit_trip_path(@current_trip) %>
          </div>

        </div>
      </div>
    </div>
    <% end %>
  </div>


<div class="col-sm-6">
<% if @next_trip == nil %>
    <h2 class="fadeIn">You don't have next trip for the moment </h2>
    <%= link_to "Change that !", new_trip_path %>
  <% else %>

    <div class="card fadeIn">
      <div class="card-header">
        <a href="#map" class="link-map">
          <h2> Next trip : <%= @next_trip.destination %></h2>
        </a>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <p>Star date : <%= @next_trip.start_date %></p>
            <p>End date : <%= @next_trip.end_date %></p>
          </div>
          <div class="col-sm-6">
            <p>
              Traveler(s):
              <li class="list-unstyled">
                <% @next_trip.users.each do |user| %>
                <% if user.filepicker_url %>
                  <%= filepicker_image_tag user.filepicker_url, {w: 25, h: 25, fit: 'crop'}, class:"img-circle" %>
                <% else %>
                  <%= image_tag("user.png") %>
                <% end %>
                  <%= user.first_name %>
                <% end %>
              </li>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>Total cost : <%= @next_trip.total_cost %> </p>
          </div>
          <div class="col-sm-6">
            <p>Cost per traveler : <%= @next_trip.total_cost_per_traveler %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <% if @next_trip.accomodations.empty? %>
              <%= link_to "Add an accomodation", new_trip_accomodation_path(@next_trip), style:"font-size:20px" %>
            <% else %>
            <p>
              Accomodation :
              <% @next_trip.accomodations.each do |acmd| %>
                <%= link_to acmd.accomodation_type, trip_accomodations_path(@next_trip, acmd) %>
                <%= acmd.address %>
              <% end %>
            <% end %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <% if @next_trip.transportations.empty? %>
              <%= link_to "Add transportation(s)", new_trip_transportation_path(@next_trip), style:"font-size:20px" %>
            <% else %>
            <p>
              Transportation(s) :
              <% @next_trip.transportations.each do |transport| %>
                <%= link_to transport.transportation_type, trip_transportations_path(@next_trip) %>
              <% end %>
            <% end %>
            </p>
          </div>
        </div>
        <div class="row ">
          <div class="col-xs-12 text-xs-right">
            <%= link_to "Edit ", edit_trip_path(@next_trip) %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <hr>
  </div>
  <div class="row spacer-margin text-xs-center">
    <% unless @trips_dashboard == [nil, nil] %>
      <div class="col-xs-12 map-dashboard">
        <div id="map" style="width:100%;height:300px;"></div>
      </div>
  <% end %>
</div>


<script type="text/javascript">

function initMap() {
<% if @trips_dashboard.include?(nil) %>

  <% unless @trips_dashboard == [nil, nil] %>
    <% if @next_trip %>
      var myLatLng =  { lat: <%= @next_trip.latitude %>, lng: <%= @next_trip.longitude %>}
    <% else %>
      var myLatLng =  { lat: <%= @current_trip.latitude %>, lng: <%= @current_trip.longitude %>}
    <% end %>
    console.log(myLatLng)
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 3,
      center: myLatLng
    });
    <% @trips_dashboard.each do |trip| %>
      <% next if trip.nil? %>
        new google.maps.Marker({
        position: { lat: <%= trip.latitude unless trip.nil? %>, lng: <%= trip.longitude unless trip.nil? %>},
        map: map,
        title: '<%= trip.destination unless trip.nil?%>'
        });
      <% end %>
    <% end %>

<% else %>

  <% unless @trips_dashboard == [nil, nil] %>
    <% if @next_trip %>
      var myLatLng =  { lat: <%= @next_trip.latitude %>, lng: <%= @next_trip.longitude %>}
    <% else %>
      var myLatLng =  { lat: <%= @current_trip.latitude %>, lng: <%= @current_trip.longitude %>}
    <% end %>
      console.log(myLatLng)
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3,
        center: myLatLng
        // mapTypeId: google.maps.MapTypeId.TERRAIN
        });

    <% @trips_dashboard.each do |trip| %>
      <% next if trip.nil? %>
        new google.maps.Marker({
          position: { lat: <%= trip.latitude unless trip.nil? %>, lng: <%= trip.longitude unless trip.nil? %>},
          map: map,
          title: '<%= trip.destination unless trip.nil?%>'
        });
    <% end %>

    var flightPlanCoordinates = [
      {lat: <%= @current_trip.latitude if @current_trip %>, lng: <%= @current_trip.longitude if @current_trip %>},
      {lat: <%= @next_trip.latitude if @next_trip %>, lng: <%= @next_trip.longitude if @next_trip %>}
    ];


      var flightPath = new google.maps.Polyline({
        path: flightPlanCoordinates,
        geodesic: true,
        strokeColor: '#DB0A5B',
        strokeOpacity: 0.5,
        strokeWeight: 4
      });
      flightPath.setMap(map);

  <% end %>
<% end %>
}
</script>
 <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&callback=initMap">
 </script>
