<div class="row">
  <div class="col-sm-2 text-xs-right">
    <%= render "share/avatar" %>
  </div>
  <div class="col-sm-10">
      <h1>Hi <%= @user.first_name %> !</h1>
  </div>
</div>
<hr>
<div class="row spacer-margin">
  <div class="col-sm-6">
  <% if !@current_trip %>
    <h2>You don't have current trip for the moment </h2>
    <%= link_to "Change that !", new_trip_path %>
  <% else %>
      <div class="card">
      <div class="card-header">
        <h2>Current trip to: <%= @current_trip.destination %></h2>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <p><strong>Start date :</strong> <%= @current_trip.start_date %></p>
            <p>End date : <%= @current_trip.end_date %></p>
          </div>
          <div class="col-sm-6">
            <p>
              Travelers:
              <% @current_trip.users.each do |user| %>
              <li class="list-unstyled">
                <%= render "share/small_avatar" %>
                <%= user.first_name %>
              </li>
            <% end %>
            </p>
          </div>
          </div>
          <div class="row">
          <div class="col-sm-6">
            <p>Total cost : <%= @current_trip.total_cost %></p>
          </div>
          <div class="col-sm-6">
            <p>Cost per traveler : <%= @current_trip.total_cost_per_traveler %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <p>
            <% if @current_trip.accomodations.empty? %>
              <%= link_to "Add an accomodation", new_trip_accomodation_path(@current_trip), style:"font-size:20px" %>
            <% else %>
              Accomodation :
              <% @current_trip.accomodations.each do |acmd| %>
                <%= link_to acmd.accomodation_type, trip_accomodations_path(@current_trip, acmd) %>
                <%= acmd.address %>
              <% end %>
            <% end %>
            </p>
          </div>
          <div class="col-sm-12">
            <% if @current_trip.transportations.empty? %>
              <%= link_to "Add transportation(s)", new_trip_transportation_path(@current_trip), style:"font-size:20px" %>
            <% else %>
              Transportation(s) :
              <% @current_trip.transportations.each do |transport| %>
                <%= link_to transport.transportation_type, trip_transportations_path(@current_trip, transport) %>
              <% end %>
            <% end %>
          </div>
        </div>
        <!-- <div class="col-sm-12 text-xs-center" style="padding-top:20px">
          <p>
            <a href="#next-trip"> <i class="fa fa-plane" aria-hidden="true"></i> Next destination</a>
          </p>
        </div> -->
      </div>
    </div>
    <% end %>
  </div>


<div class="col-sm-6">
<% if @next_trip == nil %>
    <h2>You don't have next trip for the moment </h2>
    <%= link_to "Change that !", new_trip_path %>
  <% else %>

    <div class="card">
      <div class="card-header">
        <h2> Next trip : <%= @next_trip.destination %></h2>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <p>Star date : <%= @next_trip.start_date %></p>
            <p>End date : <%= @next_trip.end_date %></p>
          </div>
          <div class="col-sm-6">
            <p>
              Traveler(s):
              <li class="list-unstyled">
                <% @next_trip.users.each do |user| %>
                <%= render "share/small_avatar" %>
                  <%= user.first_name %>
                <% end %>
              </li>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <p>Total cost : <%= @next_trip.total_cost %> </p>
          </div>
          <div class="col-sm-6">
            <p>Cost per traveler : <%= @next_trip.total_cost_per_traveler %></p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <% if @next_trip.accomodations.empty? %>
              <%= link_to "Add an accomodation", new_trip_accomodation_path(@next_trip), style:"font-size:20px" %>
            <% else %>
            <p>
              Accomodation :
              <% @next_trip.accomodations.each do |acmd| %>
                <%= link_to acmd.accomodation_type, trip_accomodations_path(@next_trip, acmd) %>
                <%= acmd.address %>
              <% end %>
            <% end %>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <% if @next_trip.transportations.empty? %>
              <%= link_to "Add transportation(s)", new_trip_transportation_path(@next_trip), style:"font-size:20px" %>
            <% else %>
            <p>
              Transportation(s) :
              <% @next_trip.transportations.each do |transport| %>
                <%= link_to transport.transportation_type, trip_transportations_path(@next_trip) %>
              <% end %>
            <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <hr>
  </div>
  <div class="row spacer-margin text-xs-center">
    <% unless @trips_dashboard == [nil, nil] %>
      <div class="col-xs-12 map-dashboard">
        <div id="map" style="width:100%;height:300px;"></div>
      </div>
  <% end %>
</div>


<script type="text/javascript">
function initMap() {
  <% unless @trips_dashboard == [nil, nil] %>
    <% if @next_trip %>
      var myLatLng =  { lat: <%= @next_trip.latitude %>, lng: <%= @next_trip.longitude %>}
    <% else %>
      var myLatLng =  { lat: <%= @current_trip.latitude %>, lng: <%= @current_trip.longitude %>}
    <% end %>
      console.log(myLatLng)
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 3,
        center: myLatLng
    });
    <% @trips_dashboard.each do |trip| %>
    <% next if trip.nil? %>
      new google.maps.Marker({
      position: { lat: <%= trip.latitude unless trip.nil? %>, lng: <%= trip.longitude unless trip.nil? %>},
      map: map,
      title: '<%= trip.destination unless trip.nil?%>'
    });
  <% end %>
<% end %>
}
 </script>
 <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&callback=initMap">
 </script>
