<div class="row">
  <div class="col-xs-12 col-md-2">
    <%= link_to public_profile_path(current_user) do %>
      <%= render "share/avatar" %>
    <% end %>
  </div>
  <div class="col-md-4">
      <h2>Hi <%= @user.first_name_capitalize %> !</h2>
  </div>
<% unless @trips.empty? %>
  <div class="col-xs-12 col-md-6 text-xs-right">
    <% unless current_user.nomadlist_username == "" %>
        <%= link_to "<i class='fa fa-upload'></i> IMPORT NOMADLIST TRIPS".html_safe, import_nomad_lists_path, class:"btn btn-outline-primary" %>
      <% end %>
        <%= link_to "<i class='fa fa-plus'></i> ADD A TRIP".html_safe, new_trip_path, class:"btn btn-outline-primary" %>
      </div>
<% end %>
</div>
<div class="row">
  <div class="col-xs-12 col-md-4">
    <%= link_to 'Edit profile', edit_profile_path(current_user) %>
  </div>
</div>
<hr>

  <% if @trips.empty? %>
    <div class="row text-xs-center">
      <i class="fa fa-frown-o fa-2x" aria-hidden="true"></i>
      <h2> No trips for the moment</h2>
      <div class="col-md-8 offset-md-2">
        <div class="col-md-6 text-xs-center padding-button">
          <%= link_to new_trip_path, class: "btn btn-outline-primary" do %>
            <i class="fa fa-plus" aria-hidden="true"></i> ADD MY FIRST TRIP
          <% end %>
        </div>
          <div class="col-md-6 text-xs-center padding-button">
            <% if current_user.nomadlist_username == "" %>
              Create a <a href="https://nomadlist.com/">NOMADLIST</a> account, and <%= link_to "add your username", edit_profile_path(current_user) %> by editing your profile.
            <% else %>
              <%= link_to import_nomad_lists_path, class: "btn btn-outline-primary" do %>
                <i class="fa fa-upload" aria-hidden="true"></i> IMPORT from NOMADLIST
              <% end %>
            <% end %>
          </div>
        </div>
    </div>


  <% else %>
  <div class="row spacer-margin">
    <div class="col-lg-6">
      <% if !@current_trip %>
        <h2 class="fadeIn">You don't have current trip for the moment </h2>
        <%= link_to "Change that !", new_trip_path %>
      <% else %>
        <div class="card fadeIn">
          <div class="card-header">
            <%= link_to edit_trip_path(@current_trip), class:"title-link" do %>
              <h2>Current trip to: <%= @current_trip.destination %></h2>
            <% end %>
          </div>
          <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <dl class="row">
                <dt class="col-xs-6">Start date </dt>
              <dd class="col-xs-6"><%= (@current_trip.start_date).strftime("%d/%m/%Y") %></dd>

              <dt class="col-xs-6">End date </dt>
              <dd class="col-xs-6"> <%= (@current_trip.end_date).strftime("%d/%m/%Y")%></dd>
            </dl>
          </div>
          <div class="col-sm-6">
          <dl class="row">
            <dt class="col-xs-4">Travelers</dt>
            <dd class="col-xs-8">
              <% @current_trip.users.each do |user| %>
              <li class="list-unstyled">
                <%= link_to public_profile_path(user) do %>
                  <% if user.filepicker_url? %>
                    <%= filepicker_image_tag user.filepicker_url, {w: 25, h: 25, fit: 'crop'}, class:"img-circle" %>
                  <% else %>
                    <%= image_tag("user.png", class:"img-circle") %>
                  <% end %>
                  <%= user.first_name %>
                <% end %>
              </li>
            <% end %>
            </dd>
          </dl>
        </div>
      </div>
      <hr>
      <!-- costs -->
      <div class="row">
        <div class="col-sm-12">
          <dl class="row">
            <dt class="col-xs-6">Total cost </dt>
            <dd class="col-xs-6"><%= @current_trip.total_cost %></dd>

            <dt class="col-xs-6">Cost per traveler</dt>
            <dd class="col-xs-6"><%= @current_trip.total_cost_per_traveler %></dd>
          </dl>
        </div>
      </div>
      <hr>
      <!-- accomodation and transportations -->
      <div class="row">
        <div class="col-sm-12">
          <dl class="row">
            <dt class="col-sm-4">Accomodation</dt>
            <% if @current_trip.accomodations.empty? %>
              <dd class="col-sm-8"><%= link_to "Add", new_trip_accomodation_path(@current_trip), style:"font-size:20px" %></dd>
            <% else %>
              <% @current_trip.accomodations.each do |acmd| %>
                <dd class="col-sm-8"><%= link_to acmd.accomodation_type, trip_accomodations_path(@current_trip, acmd) %></dd>
                <dd class="col-sm-8 offset-sm-4"><%= acmd.address %></dd>
              <% end %>
            <% end %>
              <dt class="col-sm-4">Transportation(s)</dt>
                <dd class="col-sm-8">
                  <% if @current_trip.transportations.empty? %>
                    <%= link_to "Add", new_trip_transportation_path(@current_trip), style:"font-size:20px" %>
                  <% else %>
                  <% @current_trip.transportations.each do |transport| %>
                    <%= link_to transport.transportation_type, trip_transportations_path(@current_trip, transport) %>
                  <% end %>
                </dd>
              <% end %>
            </dl>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12  text-xs-right">
              <%= link_to "Edit", edit_trip_path(@current_trip) %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>

<!-- next_trip -->
<div class="col-lg-6">
<% if @next_trip == nil %>
    <h2 class="fadeIn">You don't have next trip for the moment </h2>
    <%= link_to "Change that !", new_trip_path %>
  <% else %>

    <div class="card fadeIn">
      <div class="card-header">
        <a href="#<%= @next_trip.id %>" class="title-link">
          <h2> Next trip : <%= @next_trip.destination %></h2>
        </a>

      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
            <dl class="row">
              <dt class="col-xs-6">Start date</dt>
              <dd class="col-xs-6"><%= (@next_trip.start_date).strftime('%d/%m/%Y') %></dd>

              <dt class="col-xs-6">End date</dt>
              <dd class="col-xs-6"><%= (@next_trip.end_date).strftime("%d/%m/%Y") %></dd>
            </dl>

          </div>
          <div class="col-sm-6">
            <dl class="row">
              <dt class="col-xs-4">Travelers</dt>
              <dd class="col-xs-8">
                <% @next_trip.users.each do |user| %>
                    <li class="list-unstyled">
                  <%= link_to public_profile_path(user) do %>
                  <% if user.filepicker_url? %>
                    <%= filepicker_image_tag user.filepicker_url, {w: 25, h: 25, fit: 'crop'}, class:"img-circle" %>
                  <% else %>
                    <%= image_tag("user.png") %>
                  <% end %>
                    <%= user.first_name %>
                  <% end %>
                  </li>
                <% end %>
              </dd>
            </dl>

          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <dl class="row">
              <dt class="col-xs-6">Total cost</dt>
              <dd class="col-xs-6"><%= @next_trip.total_cost %></dd>

              <dt class="col-xs-6">Cost per traveler </dt>
              <dd class="col-xs-6"><%= @next_trip.total_cost_per_traveler %></dd>
            </dl>
        </div>
      </div>
        <hr>
        <div class="row">
          <div class="col-sm-12">
            <dl class="row">


                <dt class="col-sm-4">Accomodation(s)</dt>
                <% if @next_trip.accomodations.empty? %>
                  <dd class="col-sm-8"><%= link_to "Add", new_trip_accomodation_path(@next_trip), style:"font-size:20px" %></dd>
                <% else %>
                <% @next_trip.accomodations.each do |acmd| %>
                  <dd class="col-sm-8"><%= link_to acmd.accomodation_type, trip_accomodations_path(@next_trip, acmd) %></dd>
                  <dd class="col-sm-8 offset-sm-4"><%= acmd.address %></dd>
                <% end %>
              <% end %>

                <dt class="col-sm-4">Transportation(s) </dt>
                <dd class="col-sm-8">
                  <% if @next_trip.transportations.empty? %>
                    <%= link_to "Add", new_trip_transportation_path(@next_trip), style:"font-size:20px" %>
                  <% else %>
                  <% @next_trip.transportations.each do |transport| %>
                    <li class="list-unstyled">
                      <%= link_to transport.transportation_type, trip_transportations_path(@next_trip) %>
                    </li>
                  <% end %>
                </dd>
              <% end %>
            </dl>

          </div>
        </div>
        <div class="row ">
          <div class="col-xs-12 text-xs-right">
            <%= link_to "Edit ", edit_trip_path(@next_trip) %>

          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>
<hr>

<!-- map -->
<% unless @trips_dashboard == [nil, nil] %>
  <div class="row spacer-margin text-xs-center">
    <div class="col-xs-12 map-dashboard">
      <div id="map" style="width:100%;height:300px;"></div>
    </div>
  </div>
  <hr>
<% end %>

<!-- previous trips and next trips -->
<div class="row spacer-margin">
  <div class="col-lg-6">
    <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active">
      Previous trips
    </button>
    <% @last_trips[0..5].each do |trip| %>
    <button type="button" class="list-group-item list-group-item-action"><%= trip.destination %></button>
    <% end %>
    <% if @last_trips.length > 5 %>
      <button type="button" class="list-group-item list-group-item-action"><%= link_to "See all trips", trips_path  %></button>
    <% end %>
  </div>
</div>
<div class="col-lg-6">
  <div class="list-group">
    <button type="button" class="list-group-item list-group-item-action active">
      Next trips
    </button>
  <% unless @next_trips.empty? %>
    <% @next_trips[0..5].each do |trip| %>
      <button type="button" class="list-group-item list-group-item-action"><%= trip.destination %></button>
    <% end %>
    <% if @next_trips.length > 5 %>
      <button type="button" class="list-group-item list-group-item-action"><%= link_to "See all trips", trips_path  %></button>
    <% end %>
  <% end %>
</div>
</div>
<% end %>






<script type="text/javascript">

function initMap() {

<% if @trips_dashboard.include?(nil) %>

  <% unless @trips_dashboard == [nil, nil] %>
    <% if @next_trip %>
      var myLatLng =  { lat: <%= @next_trip.latitude %>, lng: <%= @next_trip.longitude %>}
    <% else %>
      var myLatLng =  { lat: <%= @current_trip.latitude %>, lng: <%= @current_trip.longitude %>}
    <% end %>

    console.log(myLatLng)

    var mapOptions = {
      zoom: 3,
      center: myLatLng,
      scrollwheel: false,
      styles: [{"featureType":"landscape","stylers":[{"visibility":"simplified"},{"color":"#2b3f57"},{"weight":0.1}]},{"featureType":"administrative","stylers":[{"visibility":"on"},{"hue":"#ff0000"},{"weight":0.4},{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"labels.text","stylers":[{"weight":1.3},{"color":"#FFFFFF"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#f55f77"},{"weight":3}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#f55f77"},{"weight":1.1}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#f55f77"},{"weight":0.4}]},{},{"featureType":"road.highway","elementType":"labels","stylers":[{"weight":0.8},{"color":"#ffffff"},{"visibility":"on"}]},{"featureType":"road.local","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"color":"#ffffff"},{"weight":0.7}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"color":"#6c5b7b"}]},{"featureType":"water","stylers":[{"color":"#f3b191"}]},{"featureType":"transit.line","stylers":[{"visibility":"on"}]}]

    };
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      var infowindow = new google.maps.InfoWindow();

    <% @trips_dashboard.each do |trip| %>
      <% next if trip.nil? %>
        new google.maps.Marker({
        position: { lat: <%= trip.latitude unless trip.nil? %>, lng: <%= trip.longitude unless trip.nil? %>},
        map: map,
        title: '<%= trip.destination unless trip.nil?%>'
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent("<div class='infowindow'><h4><%= trip.destination %></h4>From <%= (trip.start_date).strftime('%d/%m/%Y') %> to <%= (trip.end_date).strftime('%d/%m/%Y') %></div>");
          infowindow.open(map,marker);
        });
      <% end %>
    <% end %>

<% else %>

  <% unless @trips_dashboard == [nil, nil] %>
    <% if @next_trip %>
      var myLatLng =  { lat: <%= @next_trip.latitude %>, lng: <%= @next_trip.longitude %>}
    <% else %>
      var myLatLng =  { lat: <%= @current_trip.latitude %>, lng: <%= @current_trip.longitude %>}
    <% end %>

      console.log(myLatLng)
      var mapOptions = {
        zoom: 3,
        scrollwheel: false,
        center: myLatLng,
        styles: [{"featureType":"landscape","stylers":[{"visibility":"simplified"},{"color":"#2b3f57"},{"weight":0.1}]},{"featureType":"administrative","stylers":[{"visibility":"on"},{"hue":"#ff0000"},{"weight":0.4},{"color":"#ffffff"}]},{"featureType":"road.highway","elementType":"labels.text","stylers":[{"weight":1.3},{"color":"#FFFFFF"}]},{"featureType":"road.highway","elementType":"geometry","stylers":[{"color":"#f55f77"},{"weight":3}]},{"featureType":"road.arterial","elementType":"geometry","stylers":[{"color":"#f55f77"},{"weight":1.1}]},{"featureType":"road.local","elementType":"geometry","stylers":[{"color":"#f55f77"},{"weight":0.4}]},{},{"featureType":"road.highway","elementType":"labels","stylers":[{"weight":0.8},{"color":"#ffffff"},{"visibility":"on"}]},{"featureType":"road.local","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"road.arterial","elementType":"labels","stylers":[{"color":"#ffffff"},{"weight":0.7}]},{"featureType":"poi","elementType":"labels","stylers":[{"visibility":"off"}]},{"featureType":"poi","stylers":[{"color":"#6c5b7b"}]},{"featureType":"water","stylers":[{"color":"#f3b191"}]},{"featureType":"transit.line","stylers":[{"visibility":"on"}]}]
      };
      var map = new google.maps.Map(document.getElementById('map'), mapOptions);
      var infowindow = new google.maps.InfoWindow();

    <% @trips_dashboard.each do |trip| %>
      <% next if trip.nil? %>

        var marker = new google.maps.Marker({
          position: { lat: <%= trip.latitude unless trip.nil? %>, lng: <%= trip.longitude unless trip.nil? %>},
          map: map,
          title: '<%= trip.destination unless trip.nil?%>'
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent("<div id='<%= trip.id %>' class='infowindow'><h4><%= trip.destination %></h4>From <%= (trip.start_date).strftime('%d/%m/%Y') %> to <%= (trip.end_date).strftime('%d/%m/%Y') %></div>");
          infowindow.open(map,marker);

        });
    <% end %>

    var flightPlanCoordinates = [
      {lat: <%= @current_trip.latitude if @current_trip %>, lng: <%= @current_trip.longitude if @current_trip %>},
      {lat: <%= @next_trip.latitude if @next_trip %>, lng: <%= @next_trip.longitude if @next_trip %>}
    ];


      var flightPath = new google.maps.Polyline({
        path: flightPlanCoordinates,
        geodesic: true,
        strokeColor: '#DB0A5B',
        strokeOpacity: 0.5,
        strokeWeight: 4
      });
      flightPath.setMap(map);

  <% end %>
<% end %>
}
</script>
 <script async defer
   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&callback=initMap">
 </script>
