<div class="row">
  <div class="col-sm-2">
    <% if @trip.image_trip == nil %>
      <%= image_tag("image_trip.svg", width:100, height:100) %>
    <% else %>
    <%= image_tag(@trip.image_trip) %>
    <% end %>
  </div>
  <div class="col-sm-10">
    <h1>Trip : <%= @trip.destination %></h1>

  </div>
  <!-- <p>
    <%= @place.info.weather.type %>
  </p> -->
</div>
<hr>
<div class="col-sm-6 offset-sm-3">
  <div class="card card-block text-xs-center">
      <%= simple_form_for @trip do |f| %>

          <%= f.input :start_date, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Start date :".html_safe %>
          <%= f.input :end_date, label:"<i class='fa fa-calendar' aria-hidden='true'></i> Start date :".html_safe %>
          <div class="row">
            <div class="col-sm-6">
              <%= f.input :destination, input_html: {id: :autocomplete}, label: "<i class='fa fa-globe' aria-hidden='true'></i> Destination :".html_safe %>
            </div>
            <div class="col-sm-6">
                <%= f.input :user_ids, label: "<i class='fa fa-user-plus' aria-hidden='true'></i> Add a traveler :".html_safe, collection: current_user.friends, label_method: :first_name, input_html: { multiple: true }, default: current_user %>
            </div>
          </div>
          <br>
          <br>
          <%= link_to "<i class='fa fa-undo' aria-hidden='true'></i> Retour".html_safe, trips_path, class:"btn btn-warning" %>
          <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i> Valider
          <% end %>
        <% end %>
    </div>
  </div>
<script>
  var autocomplete;
  function initAutocomplete() {
    autocomplete = new google.maps.places.Autocomplete(
      /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
      {types: ['geocode']});
      autocomplete.addListener('place_changed', function(){
        var place = autocomplete.getPlace();
        var longitude = place.geometry.location.lng()
        var latitude = place.geometry.location.lat()
        console.log(longitude);
        console.log(latitude);
      });
    }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete"
    async defer>
    </script>
