<div class="row text-xs-center">
  <h1>Mes voyages</h1>
</div>
<br>
<br>
<% if @trips.count > 0 %>
  <div class="row text-xs-right">
    <%= link_to "<i class='fa fa-upload'></i> Importer de Nomad List".html_safe, import_nomad_lists_path, class:"btn btn-outline-primary" %>
    <%= link_to "<i class='fa fa-plus'></i> Ajouter un voyage".html_safe, new_trip_path, class:"btn btn-outline-primary" %>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="container">
    <div class="card card-outline-primary text-xs-center">
      <div class="card-block">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Destination</th>
        <th>Début</th>
        <th>Jours</th>
        <th>Fin</th>
        <th class="text-xs-center">Transport</th>
        <th>Logement</th>
        <th></th>
        <th>Participant(s)</th>
      </tr>
    </thead>
    <% @trips.each do |trip| %>
    <tbody>
    <tr class="trips_content">
        <td>
          <a href="#" data-toggle="modal" data-target="#myModal-<%= trip.id %>">
            <%= trip.destination %>
          </a>
          <!-- modal  -->
          <div class="modal fade" id="myModal-<%= trip.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">Mon voyage à <%= trip.destination %></h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-xs-4">
                      <% if trip.image_trip == nil %>
                        <%= image_tag("image_trip.svg", width:100, height:100) %>
                      <% else %>
                      <%= image_tag(trip.image_trip, class:"img-circle", width:100, height:100) %>
                      <% end %>
                    </div>
                    <div class="col-xs-8 text-xs-left">
                      <p>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Date de début : <%= (trip.start_date).strftime('%d/%m/%Y') %>
                      </p>
                      <p>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Date de fin : <%= (trip.end_date).strftime('%d/%m/%Y') %>
                      </p>
                      <p>
                        <i class="fa fa-suitcase" aria-hidden="true"></i> Voyageur(s) : <%= trip.person_number %>
                      </p
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                  <%= link_to "Modifier", edit_trip_path(trip), class:"btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>

        </td>
        <td><%= (trip.start_date).strftime('%d/%m/%Y') %></td>
        <td><%= trip.days_number %></td>
        <td><%= (trip.end_date).strftime('%d/%m/%Y') %></td>
        <td class="text-xs-center">
          <% if trip.transportations.empty? %>
              <%= link_to 'Ajouter', new_trip_transportation_path(trip) %>
            <% else %>
              <% trip.transportations.each do |transport| %>
                <% if transport.transportation_type == "Avion" %>
                  <%= link_to "<i class='fa fa-plane color-plane' aria-hidden='true'></i>".html_safe, trip_transportation_path(trip, transport) %>
                <% elsif transport.transportation_type == "Train" %>
                  <%= link_to "<i class='fa fa-train color-train' aria-hidden='true'>".html_safe, trip_transportation_path(trip, transport) %></i>
                <% elsif transport.transportation_type == "Voiture" %>
                  <%= link_to "<i class='fa fa-car color-car' aria-hidden='true'>".html_safe, trip_transportation_path(trip, transport) %></i>
                <% elsif transport.transportation_type == "Bateau" %>
                  <%= link_to "<i class='fa fa-ship color-boat' aria-hidden='true'>".html_safe, trip_transportation_path(trip, transport) %></i>
                <% elsif transport.transportation_type == "Bus" %>
                  <%= link_to "<i class='fa fa-bus color-bus' aria-hidden='true'>".html_safe, trip_transportation_path(trip, transport) %></i>
                <% else %>
                  <%= link_to transport.transportation_type, trip_transportation_path(trip, transport), class:"color-link" %>
                <% end  %>
              <% end %>
            <% end %>
        </td>
        <td>
          <% if trip.accomodations.empty? %>
            <%= link_to 'Ajouter', new_trip_accomodation_path(trip) %>
          <% else %>
            <% trip.accomodations.each do |acmd| %>
                <li><%= link_to acmd.accomodation_type, edit_trip_accomodation_path(trip, acmd) %></li>
            <% end %>

          <% end %>
        </td>
        <td>
          <%= link_to '+', new_trip_accomodation_path(trip), class:"tag tag-pill tag-primary" unless trip.accomodations.empty? %>
        </td>
        <td>

        <% if trip.users.empty? %>
          <%= current_user.first_name  %>
        <% else %>
          <% trip.users.each do |user| %>
             <%= user.first_name %>
          <% end %>
        <% end %>
        </td>
        <td class="text-xs-center">
          <%= link_to trip, method: :delete, data: { confirm: "Confirmez la suppression du voyage"} do %>
            <i class="fa fa-times-circle fa-2x cancel-red" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Supprimer ce voyage"></i>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
  </div>
</div>
</div>
</div>
<% else %>
<div class="col-sm-6 offset-sm-3">
  <div class="card card-outline-primary text-xs-center">
    <div class="card-block">
    <%= link_to 'Ajouter mon premier voyage', new_trip_path, class: "btn btn-outline-primary" %>
    <%= link_to 'Importer de Nomad List', import_nomad_lists_path, class: "btn btn-outline-primary" %>
  </div>
  </div>
</div>
<% end %>
<div class="row text-xs-center">
    <%= paginate @trips %>
</div>
