<% if @trips.count > 0 %>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2>All trips</h2>
  </div>
  <div class="col-xs-12 col-md-6 text-xs-right">
    <%= link_to "<i class='fa fa-upload'></i> Import from Nomad List".html_safe, import_nomad_lists_path, class:"btn btn-outline-primary" %>
    <%= link_to "<i class='fa fa-plus'></i> Add a travel".html_safe, new_trip_path, class:"btn btn-outline-primary" %>
  </div>

</div>
<hr>
<br>
<br>

<div class="row">
  <div class="container">
    <div class="card card-inverse text-xs-center">
      <div class="card-block">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Destination</th>
                <th>Start</th>
                <th>Days</th>
                <th>End</th>
                <th>Transportation</th>
                <th>Accomodation</th>
                <th>Traveler(s)</th>
                <th>
                  Total price
                </th>
                <th>
                  Delete
                </th>
              </tr>
            </thead>
            <% @trips.each do |trip| %>
            <tbody>
              <tr class="trips_content">
                <td>
                  <a href="#", class="link-trip" data-toggle="modal" data-target="#myModal-<%= trip.id %>">
                    <%= trip.destination %>
                  </a>
          <!-- modal  -->
          <div class="modal fade" id="myModal-<%= trip.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel"> <%= trip.destination %></h4>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-xs-4">
                      <% if trip.image_trip == nil %>
                        <%= image_tag("image_trip.svg", class:"img-circle", width:100, height:100) %>
                      <% else %>
                      <%= image_tag(trip.image_trip, class:"img-circle", width:100, height:100) %>
                      <% end %>
                    </div>
                    <div class="col-xs-8 text-xs-left">
                      <p>
                        <i class="fa fa-calendar" aria-hidden="true"></i> Start date : <%= (trip.start_date).strftime('%d/%m/%Y') %>
                      </p>
                      <p>
                        <i class="fa fa-calendar" aria-hidden="true"></i> End date : <%= (trip.end_date).strftime('%d/%m/%Y') %>
                      </p>
                      <p>
                        <i class="fa fa-suitcase" aria-hidden="true"></i> Travelers) : <%= trip.person_number %>
                      </p>
                      <p>
                        Total price per traveler : <%= trip.total_cost_per_traveler %>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                  <%= link_to "Edit trip", edit_trip_path(trip), class:"btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>

        </td>
        <td><%= (trip.start_date).strftime('%d/%m/%Y') %></td>
        <td><strong><%= trip.days_number %></strong> <span class="dday">d</span></td>
        <td><%= (trip.end_date).strftime('%d/%m/%Y') %></td>
        <td>
          <% if trip.transportations.empty? %>
              <%= link_to new_trip_transportation_path(trip), class:"btn btn-outline-primary btn-sm" do %>
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
              <% end %>
            <% else %>
            <%= link_to trip_transportations_path(trip) do %>
              <% trip.transportations.each do |transport| %>
                <% if transport.transportation_type == "Avion" %>
                  <i class='fa fa-plane color-plane' aria-hidden='true'></i>
                <% elsif transport.transportation_type == "Train" %>
                  <i class='fa fa-train color-train' aria-hidden='true'></i>
                <% elsif transport.transportation_type == "Voiture" %>
                  <i class='fa fa-car color-car' aria-hidden='true'></i>
                <% elsif transport.transportation_type == "Bateau" %>
                  <i class='fa fa-ship color-boat' aria-hidden='true'></i>
                <% elsif transport.transportation_type == "Bus" %>
                  <i class='fa fa-bus color-bus' aria-hidden='true'></i>
                <% else %>
                  <%= link_to transport.transportation_type, trip_transportation_path(trip, transport), class:"color-link" %>
                <% end  %>
              <% end %>
            <% end %>
          <% end %>
        </td>
        <td>
          <% if trip.accomodations.empty? %>
              <%= link_to new_trip_accomodation_path(trip), class:"btn btn-outline-primary btn-sm" do %>
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
              <% end %>
            <% else %>
              <%= link_to trip_accomodations_path(trip), class:"link-trip" do %>
                <% trip.accomodations.each do |acmd| %>
                  <li class="list-unstyled"><%= acmd.accomodation_type %></li>
                <% end %>
              <% end %>
            <% end %>
        </td>
        <td>
        <% if trip.users.empty? %>
          <%= current_user.first_name  %>
        <% else %>
          <% trip.users.each do |user| %>
             <%= user.first_name %>
          <% end %>
        <% end %>
        </td>
        <td>
          <strong><%= trip.total_cost %> € </strong>
        </td>
        <td class="text-xs-center">
          <%= link_to trip, method: :delete, data: { confirm: "Confirmez la suppression du voyage"} do %>
            <i class="fa fa-times-circle fa-2x cancel-red" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Supprimer ce voyage"></i>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
</div>
  </div>
</div>
</div>
</div>
<% else %>
<div class="row text-xs-center">
  <h2>You don't have any trips for the moment. </h2>
  <h3>Add your first trip!</h3>
</div>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div class="col-md-6 text-xs-center padding-button">
      <%= link_to new_trip_path, class: "btn btn-outline-primary" do %>
        <i class="fa fa-plus" aria-hidden="true"></i> Add my first travel
      <% end %>
    </div>
      <div class="col-md-6 text-xs-center padding-button">
        <%= link_to import_nomad_lists_path, class: "btn btn-outline-primary" do %>
        <i class="fa fa-upload" aria-hidden="true"></i> Import NomadList
        <% end %>
      </div>

  </div>

  </div>
  </div>
</div>
<% end %>
<div class="row text-xs-center">
    <%= will_paginate @trips %>
</div>
