<div class="row text-xs-center">
  <h1>Mes voyages</h1>
</div>
<br>
<br>
<% if @trips.count > 0 %>
  <div class="row text-xs-right">
    <%= link_to "<i class='fa fa-upload'></i> Importer de Nomad List".html_safe, import_nomad_lists_path, class:"btn btn-outline-primary" %>
    <%= link_to "<i class='fa fa-plus'></i> Ajouter un voyage".html_safe, new_trip_path, class:"btn btn-outline-primary" %>
  </div>

</div>
<br>
<br>
<div class="row">
  <div class="container">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Destination</th>
        <th>Début</th>
        <th>Jours</th>
        <th>Fin</th>
        <th class="text-xs-center">Transport</th>
        <th>Logement</th>
        <th></th>
        <th>Participant(s)</th>
      </tr>
    </thead>
    <% @trips.each do |trip| %>
    <tbody>
    <tr class="trips_content">
        <td>
          <%= link_to edit_trip_path(trip), class:"color-link-city" do %>
            <div  data-toggle="tooltip" data-placement="left" title="Voir ou modifier">
              <%= trip.destination %>
            </div>
          <% end %>
        <td><%= (trip.start_date).strftime('%d/%m/%Y') %></td>
        <td><%= trip.days_number %></td>
        <td><%= (trip.end_date).strftime('%d/%m/%Y') %></td>
        <td class="text-xs-center">
          <% if trip.transportations.empty? %>
              <%= link_to 'Ajouter', new_trip_transportation_path(trip) %>
            <% else %>
              <% trip.transportations.each do |transport| %>
                <% if transport.transportation_type == "Avion" %>
                  <%= link_to "<i class='fa fa-plane color-plane' aria-hidden='true'></i>".html_safe, trip_transportation_path(trip, transport) %>
                <% elsif transport.transportation_type == "Train" %>
                  <%= link_to "<i class='fa fa-train color-train' aria-hidden='true'>".html_safe, trip_transportation_path(trip, transport) %></i>
                <% elsif transport.transportation_type == "Voiture" %>
                  <%= link_to "<i class='fa fa-car color-car' aria-hidden='true'>".html_safe, trip_transportation_path(trip, transport) %></i>
                <% elsif transport.transportation_type == "Bateau" %>
                  <%= link_to "<i class='fa fa-ship color-boat' aria-hidden='true'>".html_safe, trip_transportation_path(trip, transport) %></i>
                <% elsif transport.transportation_type == "Bus" %>
                  <%= link_to "<i class='fa fa-bus color-bus' aria-hidden='true'>".html_safe, trip_transportation_path(trip, transport) %></i>
                <% else %>
                  <%= link_to transport.transportation_type, trip_transportation_path(trip, transport), class:"color-link" %>
                <% end  %>
              <% end %>
            <% end %>
        </td>
        <td>
          <% if trip.accomodations.empty? %>
            <%= link_to 'Ajouter', new_trip_accomodation_path(trip) %>
          <% else %>
            <% trip.accomodations.each do |acmd| %>
                <li><%= link_to acmd.accomodation_type, edit_trip_accomodation_path(trip, acmd) %></li>
            <% end %>

          <% end %>
        </td>
        <td>
          <%= link_to '+', new_trip_accomodation_path(trip), class:"tag tag-pill tag-primary" unless trip.accomodations.empty? %>
        </td>
        <td>

        <% if trip.users.empty? %>
          <%= current_user.first_name  %>
        <% else %>
          <% trip.users.each do |user| %>
             <%= user.first_name %>
          <% end %>
        <% end %>
        </td>
        <td class="text-xs-center">
          <%= link_to trip, method: :delete, data: { confirm: "Confirmez la suppression du voyage"} do %>
            <i class="fa fa-times-circle fa-2x cancel-red" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Supprimer ce voyage"></i>
          <% end %>
        </td>
      </tr>
    </tbody>
  <% end %>
  </table>
  </div>
</div>
<% else %>
<div class="row">
  <div class="col-sm-6">
    <%= link_to 'Ajouter mon premier voyage', new_trip_path, class: "btn btn-outline-primary" %>
  </div>
  <div class="col-sm-6 text-xs-right">
    <%= link_to 'Importer de Nomad List', import_nomad_lists_path, class: "btn btn-outline-primary" %>
  </div>

</div>
<% end %>
<div class="row text-xs-center">
    <%= paginate @trips %>
</div>
