<div class="row text-xs-center">
    <h1>Ajouter un voyage!</h1>
</div>
  <br>
  <br>
  <div class="row">
    <div class="col-xs-3"></div>
      <div class="col-sm-6 card card-block">
          <%= simple_form_for @trip do |f| %>
            <%= f.input :start_date, label: "Date de début" %>
            <%= f.input :end_date, label:"Date de fin" %>
            <%= f.input :destination, label: "Où allez vous?"  %>
            <%= f.input :person_number, label: "<i class='fa fa-users' aria-hidden='true'></i>".html_safe, input_html: { value: 1, style: "width:50px" } %>
            <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
              <i class="fa fa-thumbs-up" aria-hidden="true"></i> Valider
            <% end %>
            <%= link_to "<i class='fa fa-undo' aria-hidden='true'></i> Annuler".html_safe, root_path, class:"btn btn-warning" %>
          <% end %>
        </div>
    <div class="col-xs-3"></div>
  </div>
  <%= content_for(:after_js) do %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&amp;key=AIzaSyC7Q4uLhuMQoN4141Pgwh1KyMk3xbI3fmY"></script>
<% end %>
