<div class="row text-xs-center">
  <h1>Add a trip!</h1>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-6 offset-sm-3 card card-block">
    <%= simple_form_for @trip do |f| %>
    <% if @trip.errors.any? %>
       <div>

         <h2> Oups ! </h2>

         <ul>
           <% @trip.errors.full_messages.each do |msg| %>
               <li style="color:red"><%= msg %></li>
           <% end %>
         </ul>
       </div>
   <% end %>
    <div class="col-sm-12">
      <%= f.input :start_date %>
    </div>
    <div class="col-sm-12">
      <%= f.input :end_date %>
    </div>

    <%= f.input :longitude, as: :hidden %>
    <%= f.input :latitude, as: :hidden %>
    <%= f.input :country_name, as: :hidden %>
    <%= f.input :city_name, as: :hidden %>
    <div class="col-sm-6">
      <%= f.input :destination, label: "<i class='fa fa-globe' aria-hidden='true'></i> Where do you go ?".html_safe, input_html: {id: :autocomplete} %>
    </div>
    <div class="col-sm-6">
      <% if current_user.friends.empty? %>
        <p>
          <i class="fa fa-user-plus" aria-hidden="true"></i> Who is coming with you ?
        </p>
        <p>
          <%= link_to "Invite a friend before continue !", new_friendship_path %>
        </p>
      <% else %>
        <%= f.input :user_ids, label: "<i class='fa fa-user-plus' aria-hidden='true'></i> Who is coming with you ?".html_safe, collection: current_user.friends, label_method: :first_name, input_html: { multiple: true } %>
      <% end %>
    </div>
    <div class="col-sm-12">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      <i class="fa fa-thumbs-up" aria-hidden="true"></i> Validate
      <% end %>
      <%= link_to "<i class='fa fa-undo' aria-hidden='true'></i> Back".html_safe, trips_path, class:"btn btn-warning" %>
      <% end %>
    </div>


  </div>
</div>


<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var autocomplete;
function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});
    autocomplete.addListener('place_changed', function(){
      var place = autocomplete.getPlace();
      var country = place.address_components[place.address_components.length - 1].long_name;
      var city = place.address_components[0].long_name;
      var longitude = place.geometry.location.lng();
      var latitude = place.geometry.location.lat();
      $('#trip_longitude').val(longitude);
      $('#trip_latitude').val(latitude);
      $('#trip_country_name').val(country);
      $('#trip_city_name').val(city);
      $('#google_info').val(JSON.stringify(place));
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete&language=en"
  async defer>
  </script>
