<div class="row text-xs-center">
  <h1>Ajouter un voyage!</h1>
</div>
<br>
<br>
<div class="row">
  <div class="col-xs-3"></div>
  <div class="col-sm-6 card card-block">
    <%= simple_form_for @trip do |f| %>
    <%= f.input :start_date, label: "Date de début" %>
    <%= f.input :end_date, label:"Date de fin" %>
    <%= f.input :destination, label: "Où allez vous?", input_html: {id: :autocomplete}, placeholder: "Indiquer une ville"  %>
    <%= f.input :longitude %>
    <%= f.input :latitude %>
      <div class="">
        <textarea name="trip[google_info]" id="google_info">
        </textarea>

      </div>



    <%= f.input :person_number, label: "<i class='fa fa-users' aria-hidden='true'></i>".html_safe, input_html: { value: 1, style: "width:50px" } %>
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    <i class="fa fa-thumbs-up" aria-hidden="true"></i> Valider
    <% end %>
    <%= link_to "<i class='fa fa-undo' aria-hidden='true'></i> Annuler".html_safe, trips_path, class:"btn btn-warning" %>
    <% end %>
  </div>
  <div class="col-xs-3"></div>
</div>


<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var autocomplete;
function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});
    autocomplete.addListener('place_changed', function(){
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.lng();
      var latitude = place.geometry.location.lat();
      var country = place.country_name
      $('#trip_longitude').val(longitude);
      $('#trip_latitude').val(latitude);
      $('#google_info').val(JSON.stringify(place));
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete"
  async defer>
  </script>
