<div class="row">
  <div class="col-sm-9">
    <h2>Your transportation(s) in <%= @trip.destination %>!</h2>
  </div>
  <div class="col-sm-3 text-xs-right">
    <%= link_to new_trip_transportation_path,  class:"btn btn-outline-primary" do %>
      <i class="fa fa-plus" aria-hidden="true"></i> Add a transportation
    <% end %>
  </div>
</div>
<hr>

<% @transportations.each do |transportation| %>
  <!-- details of transportation -->
  <div class="row spacer-margin">
  <div class="col-lg-6">
    <div class="card card-block">
      <h4 class="card-title">Details :</h4>
      <hr>
        <dl class="row">
          <dt class="col-xs-6"><i class="fa fa-globe" aria-hidden="true"></i> City of departure</dt>
          <dd class="col-xs-6"><%= transportation.departure_city %></dd>
          <dt class="col-xs-6"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Departure</dt>
          <dd class="col-xs-6"><%= (transportation.departure_datetime).strftime("%d/%m/%Y at %H:%M" ) %></dd>
          <dt class="col-xs-6"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Arrival</dt>
          <dd class="col-xs-6"><%= (transportation.arrival_datetime).strftime("%d/%m/%Y at %H:%M" ) %></dd>
        </dl>

        <% unless transportation.return_date_departure == nil %>
          <dl class="row">
            <dt class="col-xs-6"><i class="fa fa-undo" aria-hidden="true"></i> Return date</dt>
            <dd class="col-xs-6 offset-xs-6">Departure : <%= (transportation.return_date_departure).strftime("%d/%m/%Y at %H:%M" ) %></dd>
            <dd class="col-xs-6 offset-xs-6">Arrival : <%= (transportation.return_date_arrival).strftime("%d/%m/%Y at %H:%M" ) %></dd>
          </dl>
        <% end %>
        <hr>
        <dl class="row">
          <dt class="col-xs-6"><i class="fa fa-eur" aria-hidden="true"></i> Price </dt>
          <dd class="col-xs-6">
            <% if transportation.price? %>
               <%= number_to_currency(transportation.price_per_personne, unit: "€") %> / per traveler </p>
            <% else %>
              <span>Free </span>
            <% end %>
          </dd>
          <dt class="col-xs-6"><p>Booking number</dt>
          <dd class=col-xs-6><%= transportation.reference_number %></dd>
        </dl>
        <hr>
        <% if transportation.link? %>
        <dl class="row">
          <%= link_to transportation.link, target: "_blank", class:"btn btn-primary btn-sm active" do %>
              <% if transportation.company? %>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Open the link  <%= (transportation.company).capitalize %>
              <% else %>
                <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Check your booking on the company's website
              <% end %>
            <% end %>

        </dl>
        <% end %>


      <div class="row">
        <div class="col-sm-8">
          <%= link_to 'Back', trips_path, class:"btn btn-warning" %>
          <%= link_to 'Edit', edit_trip_transportation_path(@trip, transportation), class:"btn btn-primary" %>
        </div>
        <div class="col-sm-4 text-xs-right">
          <%= link_to "<i class='fa fa-trash-o fa-2x' aria-hidden='true'></i> Delete".html_safe, trip_transportation_path(@trip, transportation), method: :delete, data: { confirm: "Confirmez la suppression" } %>
        </div>
      </div>
    </div>
  </div>

  <!-- Billets -->
  <div class="col-lg-6">
    <div class="card card-block">
      <div class="row">
        <div class="col-sm-10">
          <h4 class="card-title">Document(s) :</h4>
        </div>
        <div class="col-sm-2 text-xs-right">
          <%= link_to new_trip_transportation_ticket_path(@trip, transportation) do %>
            <i class="fa fa-upload fa-2x" aria-hidden="true"></i>
          <% end %>
        </div>
      </div>
      <hr>

      <% if transportation.tickets.empty? %>
      <div class="col-xs-12 text-xs-center">
        <p>
          You don't have document(s)
        </p>
        <%= simple_form_for [@trip, transportation, transportation.tickets.new] do |f|  %>
          <%= f.filepicker_field :filepicker_url, button_text: "<i class='fa fa-upload' aria-hidden='true'></i> Upload a document".html_safe, button_class:"btn btn-outline-secondary btn-sm", services: "COMPUTER, GMAIL, GOOGLE_DRIVE, DROPBOX" %>
          <br>
          <br>
          <%= button_tag(type: 'submit', class: "btn btn-primary btn-sm") do %>
          <i class="fa fa-check" aria-hidden="true"></i> Click to confirm upload
          <% end %>
        <% end %>
      </div>
    <% else %>
    <div class="col-sm-12">
      <% transportation.tickets.each do |ticket| %>
        <div class="col-sm-6 text-xs-center card-doc">
          <%= link_to ticket.filepicker_url do %>
            <%= filepicker_image_tag ticket.filepicker_url, w: 300, h: 300, fit: 'clip' %>
          <% end %>
          <div class="delete-ticket">
            <%= link_to trip_transportation_ticket_path(@trip, transportation, ticket), method: :delete do %>
              <i class="fa fa-times-circle fa-2x" aria-hidden="true"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
  </div>
</div>
</div>
<% end %>
