<div class="row">
  <div class="col-sm-9">
    <h1>Your transportation(s) in <%= @trip.destination %>!</h1>
  </div>
  <div class="col-sm-3 text-xs-right">
    <%= link_to new_trip_transportation_path,  class:"btn btn-outline-primary" do %>
      <i class="fa fa-plus" aria-hidden="true"></i> Add a transportation
    <% end %>
  </div>
</div>
<hr>
<br>
<br>
<div class="row">
<% @transportations.each do |transportation| %>
  <!-- details of transportation -->
  <div class="col-sm-6">
    <div class="card card-block">
          <h4 class="card-title">Details :</h4>
      <p><i class="fa fa-globe" aria-hidden="true"></i> City of departure : <%= transportation.departure_city %></p>
      <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Departure : <%= (transportation.departure_datetime).strftime("%d/%m/%Y at %H:%M" ) %></p>
      <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Arrival : <%= (transportation.arrival_datetime).strftime("%d/%m/%Y at %H:%M" ) %> </p>
      <% if transportation.price? %>
        <p><i class="fa fa-eur" aria-hidden="true"></i> Price : <%= number_to_currency(transportation.price_per_personne, unit: "€") %> / par personne</p>
      <% end %>
      <p>Booking n°: <%= transportation.reference_number %></p>
      <p>
        <% if transportation.link? %>
          <%= link_to transportation.link, target: "_blank", class:"btn btn-primary btn-sm active" do %>
            <% if transportation.company? %>
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Open the link  <%= (transportation.company).capitalize %>
            <% else %>
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Check your booking on the company's website
            <% end %>
          <% end %>
        <% end %>
      </p>

      <div class="row">
        <div class="col-sm-8">
          <%= link_to 'Back', trips_path, class:"btn btn-warning" %>
          <%= link_to 'Edit', edit_trip_transportation_path(@trip, transportation), class:"btn btn-primary" %>
        </div>
        <div class="col-sm-4 text-xs-right">
          <%= link_to "<i class='fa fa-trash-o fa-2x' aria-hidden='true'></i> Supprimer".html_safe, trip_transportation_path(@trip, transportation), method: :delete, data: { confirm: "Confirmez la suppression" } %>
        </div>
      </div>
    </div>
  </div>

  <!-- Billets -->
  <div class="col-md-6">


        <% if transportation.tickets.empty? %>
        <%= simple_form_for [@trip, transportation, transportation.tickets.new] do |f|  %>
          <%= f.filepicker_field :filepicker_url, button_text: "<i class='fa fa-upload' aria-hidden='true'></i> Upload a document".html_safe, button_class:"btn btn-warning", services: "COMPUTER, GMAIL, GOOGLE_DRIVE, DROPBOX" %>
          <br>
          <br>
          <%= f.submit "Click here to confirm", class:"btn btn-primary" %>
        <% end %>

        <% else %>
        <% transportation.tickets.each do |ticket| %>
          <div class="col-xs-12 col-md-6 text-xs-center card-doc">
              <%= link_to ticket.filepicker_url do %>
                <%= filepicker_image_tag ticket.filepicker_url, w: 300, h: 300, fit: 'clip' %>
              <% end %>
            <div class="col-xs-12 text-xs-center">
              <%= link_to new_trip_transportation_ticket_path(@trip, transportation) do %>
                <i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i>
              <% end %>
              <%= link_to trip_transportation_ticket_path(@trip, transportation, ticket), method: :delete do %>
                <i class='fa fa-trash-o fa-2x' aria-hidden='true'></i>
                <% end %>
            </div>
          </div>

        <% end %>
      <% end %>
      </div>
    </div>
    <% end %>
  </div>
