<div class="row text-xs-center">
    <h1>Add a transportation for your trip to <%= @trip.destination %></h1>
</div>
<br>
<br>
<div class="row">
  <%= simple_form_for [@trip, @transportation] do |f| %>
  <div class="col-sm-5 offset-sm-1">
    <div class="card">
      <div class="card-block">
        <%= f.input :transportation_type, label: "<i class='fa fa-plane' aria-hidden='true'></i> Transportation type :".html_safe, default: "Avion", collection: ["Avion", "Train", "Bus", "Voiture", "Bateau", "Autre..."] %>
        <%= f.input :departure_datetime, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Departure :".html_safe, default: @transportation.trip.start_date %>
        <%= f.input :arrival_datetime, label: "<i class='fa fa-calendar' aria-hidden='true'></i> Arrival :".html_safe, default: @transportation.trip.start_date %>
        <p>
          <button class="btn btn-primary btn-sm collapsed-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <i class="fa fa-undo" aria-hidden="true"></i> Including return ?
          </button>
        </p>
        <div class="collapse" id="collapseExample">
          <div class="card card-block">
            <%= f.input :return_date_departure, label: "Departure", default: @transportation.trip.end_date %>
            <%= f.input :return_date_arrival, label: "Arrival", default: @transportation.trip.end_date %>
          </div>
        </div>
        <%= f.input :departure_city, label: "<i class='fa fa-globe' aria-hidden='true'></i> City of the airport :".html_safe, input_html: {id: :autocomplete}, placeholder: "Ex: Paris" %>

        </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card text-xs-center">
      <div class="card-block">
        <%= f.input :price, label: "Total price :", input_html: { value: "00" } %>
        <%= f.input :reference_number, label: "Reservation number :".html_safe, placeholder: "Ex: YY1TWJ" %>
        <%= f.input :company, label: "Company name :".html_safe, placeholder: "Ex: THAI Arways" %>
        <%= f.input :link, label: "<i class='fa fa-link' aria-hidden='true'></i> Web site :".html_safe, placeholder: "Ex: http://www.thaiairways.com/" %>
      </div>
    </div>
  </div>
</div>
<br>
  <div class="row text-xs-center">
    <%= link_to 'Cancel', trips_path, class:"btn btn-warning" %>
    <%= f.button :submit, "Confirm", class:'btn btn-primary' %>
  </div>
<% end %>
<script type="text/javascript">


</script>
<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.


var autocomplete;
function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});
    autocomplete.addListener('place_changed', function(){
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.lng()
      var latitude = place.geometry.location.lat()
      console.log(longitude);
      console.log(latitude);
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete"
  async defer>
  </script>
