<div class="row text-xs-center">
    <h1>Add a transportation for your trip to <%= @trip.destination %></h1>
</div>
<br>
<br>
<div class="row">
  <%= simple_form_for [@trip, @transportation] do |f| %>
  <div class="col-sm-5 offset-sm-1">
    <div class="card card-outline-primary">
      <div class="card-block">
        <%= f.input :transportation_type, label: "<strong>Transportation type</strong>".html_safe, default: "Avion", collection: ["Avion", "Train", "Bus", "Voiture", "Bateau", "Autre..."] %>
        <%= f.input :departure_datetime, label: "<strong>Departure :</strong>".html_safe, default: @transportation.trip.start_date %>
        <%= f.input :arrival_datetime, label: "<strong>Arrival : </strong>".html_safe, default: @transportation.trip.start_date %>
        <%= f.input :departure_city, label: "<strong>City of the airport</strong>".html_safe, input_html: {id: :autocomplete}, placeholder: "Ex: Paris" %>
        <p>
          <p>
            <button class="btn btn-primary collapsed-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              Including return ?
            </button>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-block">
              <%= f.input :return_date_departure, label: "Departure" %>
              <%= f.input :return_date_arrival, label: "Arrival" %>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card card-outline-primary text-xs-center width-card-acmd">
      <div class="card-block">
        <%= f.input :price, label: "<strong>Total price :</strong>".html_safe, input_html: { value: "00" } %>
        <%= f.input :reference_number, label: "<strong>Reservation number :</strong>".html_safe, placeholder: "Ex: YY1TWJ" %>
        <%= f.input :company, label: "<strong>Company :</strong>".html_safe, placeholder: "Ex: THAI Arways" %>
        <%= f.input :link, label: "<strong>Web site :</strong>".html_safe, placeholder: "Ex: http://www.thaiairways.com/" %>
      </div>
    </div>
  </div>
</div>
<br>
  <div class="row text-xs-center">
    <%= link_to 'Cancel', trips_path, class:"btn btn-warning" %>
    <%= f.button :submit, "Confirm", class:'btn btn-primary' %>
  </div>
<% end %>
<script type="text/javascript">
$(document).on('click','.collapsed-button',function() {
        $('.collapse').collapse('hide');
    });

</script>
<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.


var autocomplete;
function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});
    autocomplete.addListener('place_changed', function(){
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.lng()
      var latitude = place.geometry.location.lat()
      console.log(longitude);
      console.log(latitude);
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete"
  async defer>
  </script>
