<div class="row text-xs-center">
    <h1>Ajouter un moyen de transport pour <%= @trip.destination %></h1>
</div>
<br>
<br>
<div class="row">
  <%= simple_form_for [@trip, @transportation] do |f| %>
  <div class="col-sm-5 offset-sm-1">
    <div class="card card-inverse card-info text-xs-center width-card-acmd">
      <div class="card-block">
        <%= f.input :transportation_type, label: "<strong>Transport</strong>".html_safe, default: "Avion", collection: ["Avion", "Train", "Bus", "Voiture", "Bateau", "Autre..."] %>
        <%= f.input :departure_datetime, label: "<strong>Départ</strong>".html_safe, default: @transportation.trip.start_date %>
        <%= f.input :arrival_datetime, label: "<strong>Heure d'arrivée</strong>".html_safe, default: @transportation.trip.start_date %>
        <%= f.input :departure_city, label: "<strong>Ville de départ</strong>".html_safe, input_html: {id: :autocomplete} %>
      </div>
    </div>
  </div>
  <div class="col-sm-5">
    <div class="card card-inverse card-info text-xs-center width-card-acmd">
      <div class="card-block">
        <%= f.input :price, label: "<strong>Prix Total</strong>".html_safe, input_html: { value: "00" } %>
        <%= f.input :reference_number, label: "<strong>Numéro de réservation</strong>".html_safe, placeholder: "Ex: YY1TWJ" %>
        <%= f.input :company, label: "<strong>Société de transport</strong>".html_safe, placeholder: "Ex: THAI Arways" %>
        <%= f.input :link, label: "<strong>Site correspondant</strong>".html_safe, placeholder: "Ex: http://www.thaiairways.com/" %>
      </div>
    </div>
  </div>
</div>
<br>
  <div class="row text-xs-center">
    <%= link_to 'Annuler', root_path, class:"btn btn-warning" %>
    <%= f.submit(class:'btn btn-primary') %>
  </div>
<% end %>

<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var autocomplete;
function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});
    autocomplete.addListener('place_changed', function(){
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.lng()
      var latitude = place.geometry.location.lat()
      console.log(longitude);
      console.log(latitude);
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete"
  async defer>
  </script>
