<%= simple_form_for [@trip, @transportation] do |f| %>
  <% if @transportation.errors.any? %>
   <div>
     <h2> Oups ! </h2>
     <ul>
       <% @transportation.errors.full_messages.each do |msg| %>
           <li style="color:red"><%= msg %></li>
       <% end %>
     </ul>
   </div>
<% end %>
<div class="row">
  <div class="col-xs-12">
    <h2>Transportation to <%= @trip.destination %></h2>
  </div>
</div>
<hr>

<div class="row spacer-margin">
  <div class="col-lg-6 offset-lg-3">
    <div class="card card-outline-primary">
      <div class="card-block">
        <div class="row">
          <div class="col-lg-6">
            <%= f.input :transportation_type, label: "<i class='fa fa-plane' aria-hidden='true'></i> <strong>Transportation type :</strong>".html_safe, default: "Avion", collection: ["Flight", "Train", "Bus", "Car", "Boat", "Other..."] %>
          </div>
          <div class="col-lg-6">

              <%= f.input :user_ids, label: "<i class='fa fa-users' aria-hidden='true'></i><strong> Travelers </strong>".html_safe, collection: @users, label_method: :first_name, input_html: { multiple: true, class:"select" } %>
              <%= link_to 'Add a new traveler',  new_friendship_path %>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :departure_datetime, label: "<i class='fa fa-calendar-check-o' aria-hidden='true'></i> <strong>Departure :</strong>".html_safe, as: :string, input_html: { class:"datetimepicker", value: @transportation.trip.start_date.strftime("%Y-%m-%d") } %>
          </div>
          <div class="col-sm-6">
            <%= f.input :arrival_datetime, label: "<i class='fa fa-clock-o' aria-hidden='true'></i> <strong>Arrival time : </strong>".html_safe, as: :string, input_html: { class:"datetimepicker", value: @transportation.trip.start_date.strftime("%Y-%m-%d") }  %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <button class="btn btn-primary btn-sm collapsed-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              <i class="fa fa-undo" aria-hidden="true"></i> Including return the <%= (@trip.end_date).strftime("%d/%m/%Y")%> ?
            </button>
          <div class="collapse" id="collapseExample">
            <div class="card card-block">
              <%= f.input :return_date_departure, label: "<strong>Departure :</strong>".html_safe, default: @transportation.trip.end_date, include_blank: true,  as: :string, input_html: { class:"datetimepicker" }  %>
              <%= f.input :return_date_arrival, label: "<strong>Arrival :</strong>".html_safe, default: @transportation.trip.end_date, include_blank: true,  as: :string, input_html: { class:"datetimepicker" }  %>
            </div>
          </div>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-6">
            <%= f.input :departure_city, label: "<i class=' fa fa-globe' aria-hidden='true'></i> <strong>Departure city :</strong>".html_safe, input_html: {id: :autocomplete}, placeholder: "Ex: Paris" %>
          </div>
          <div class="col-sm-6">
            <%= f.input :reference_number, label: "<strong>Booking number :</strong>".html_safe, placeholder: "Ex: YY1TWJ" %>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <%= f.input :price, label: "<i class='fa fa-money' aria-hidden='true'></i> <strong>Price :</strong>".html_safe, input_html: { value: "00" } %>
          </div>
          <div class="col-sm-9">
            <%= f.input :link, label: "<i class='fa fa-link' aria-hidden='true'></i> <strong>Link :</strong>".html_safe, placeholder: "Ex: http://www.thaiairways.com/" %>
          </div>
        </div>
    <div class="col-xs-12 spacer-margin text-xs-center">
      <%= f.submit "Validate", class:"btn btn-primary size-btn" %>
    </div>
      </div>

    </div>



</div>

</div>
<% end %>
<script type="text/javascript">


</script>
<script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.


var autocomplete;
function initAutocomplete() {
  autocomplete = new google.maps.places.Autocomplete(
    /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
    {types: ['geocode']});
    autocomplete.addListener('place_changed', function(){
      var place = autocomplete.getPlace();
      var longitude = place.geometry.location.lng()
      var latitude = place.geometry.location.lat()
      console.log(longitude);
      console.log(latitude);
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAy571-vdMT7D7BaAY1vTYm1n97WNhJFI0&signed_in=true&libraries=places&callback=initAutocomplete&language=en"
  async defer>
  </script>
<script type="text/javascript">
$('.datetimepicker').datetimepicker({
  format: "YYYY-MM-DD HH:mm"
});
</script>
