<div class="row text-xs-center">
  <h1>Détails de la réservation</h1>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <h4 class="card-title">Vous partez en <%= @transportation.transportation_type %> !</h4>
      <p><i class="fa fa-globe" aria-hidden="true"></i> Ville de départ : <%= @transportation.departure_city %></p>
      <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Départ : <%= (@transportation.departure_datetime).strftime("%d/%m/%Y à %H:%M" ) %></p>
      <p><i class="fa fa-calendar-check-o" aria-hidden="true"></i> Arrivée : <%= (@transportation.arrival_time).to_formatted_s(:time) %> </p>
      <p>Réservation n°: <%= @transportation.reference_number %></p>
      <p>
        <% if @transportation.link? %>
          <%= link_to @transportation.link, class:"btn btn-secondary btn-sm active" do %>
            <% if @transportation.company? %>
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Voir ou s'enregistrer sur <%= @transportation.company %>
            <% else %>
              <i class="fa fa-arrow-circle-right" aria-hidden="true"></i> S'enregistrer ou consulter le site
            <% end %>
          <% end %>
        <% end %>
      </p>

      <div class="col-sm-12">
        <div class="col-sm-8">
          <%= link_to 'Retour', root_path, class:"btn btn-warning" %>
          <%= link_to 'Modifier', edit_trip_transportation_path(@trip), class:"btn btn-primary" %>
        </div>
        <div class="col-sm-4">
          <%= link_to "<i class='fa fa-trash-o fa-2x' aria-hidden='true'></i> Supprimer".html_safe, trip_transportation_path, method: :delete, data: { confirm: "Confirmez la suppression" } %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card card-block">
        <h4 class="card-title">Télécharger le(s) billet(s)</h4>
        <!-- todo : ajouter upload d'image
        numero de resa + prix -->
    </div>
  </div>
</div>
