<div class="col-sm-6 offset-sm-3">
  <div class="card fadeIn">
    <div class="card-block">
      <h3 class="card-title">Forgot your password?</h2>
        <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Send me reset password instructions", class:"btn-primary" %>
        </div>
        <% end %>

        <% if devise_mapping.confirmable? && controller_name != 'confirmations' %>
          <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
        <% end %>
      </div>
    </div>
  </div>
