<h1>My friends</h1>
<hr>
<% if current_user.friends %>
  <% @friends.each do |friend| %>
    <li><%= friend.first_name %> <%= friend.last_name %></li>
    <%= link_to "Delete", friendship_path(friend), method: :delete, data: { confirm: "Confirm you want to delete your friend"} %>
    <hr>
  <% end %>
<!--
  <% @inverse_friends.each do |friend| %>
    <li><%= friend.first_name %> <%= friend.last_name %></li>
    <hr>
  <% end %> -->
<% else %>
  <p>
    You don't have any friends to share your trips !
  </p>
  <%= link_to "INVITE A FRIEND", new_friendship_path %>

<% end %>
