<div class="col-sm-6 offset-sm-3">
  <div class="card card-outline-primary">
    <div class="card-block">
      <h3 class="card-title">Login</h3>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email, class:"card-text", required: false, autofocus: true %>
          <%= f.input :password, label: "Password", required: false %>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      <div class="form-actions">
        <%= f.button :submit, "Validate", class:"btn btn-primary" %>
      </div>
    <% end %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "Password forgot?", new_password_path(resource_name) %><br />
    <% end -%>
  </div>
  </div>
</div>
