<div class="row text-xs-center title-pages">
  <h1>Great! Now complete your profile </h1>
</div>
<div class="col-sm-6 offset-sm-3">
  <div class="card fadeIn">
    <div class="card-block">
      <%= simple_form_for @user, :url => edit_complete_profile_path, :method => :patch do |f| %>
      <div class="form-inputs">
        <%= f.input :first_name, required: true %>
        <%= f.input :last_name, required: true %>
        <%= f.input :nomadlist_username, label: "Do you have a #{link_to 'NOMADLIST', 'https://nomadlist.com'} account ?".html_safe %>
        <%= f.input :email %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Validate", class:"btn btn-primary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
