<%= simple_form_for @user, :url => edit_profile_path, :method => :patch do |f| %>
<div class="row">
  <div class="col-sm-8">
    <div class="row">
      <div class="col-sm-3 text-xs-left">
        <% if current_user.filepicker_url? %>
          <%= filepicker_image_tag current_user.filepicker_url, {w: 100, h: 100, fit: 'crop'}, class:"img-circle" %>
        <% else %>
          <%= image_tag("user128.png", width: 100) %>
        <% end %>
      </div>
      <div class="col-sm-9">
        <h1> Hi <%= current_user.first_name.capitalize %> !</h1>
      </div>
    </div>
    <div class="row text-xs-left" style="padding-top:10px">
        <%= f.filepicker_field :filepicker_url, button_text:  button_upload_profile_picture, button_class:"btn btn-secondary btn-sm" %>
    </div>
  </div>
  <div class="col-sm-4 text-xs-right">
    <div class="form-actions">
      <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
        <i class='fa fa-check' aria-hidden='true'></i> Confirm your profile
      <% end %>
      <!-- <%= f.button :submit, "<i class='fa fa-check' aria-hidden='true'></i> Confirm your modifications".html_safe, class:"btn btn-primary" %> -->
    </div>
  </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6">
      <div class="card fadeIn">
        <div class="card-block">
          <div class="form-inputs">
            <%= f.input :first_name, required: true %>
            <%= f.input :last_name, required: true %>
            <%= f.input :nomadlist_username, label: button_nomadlist_username, placeholder: "ex: #{current_user.first_name}#{current_user.last_name}" %>
            <%= f.input :email %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card fadeIn">
        <div class="card-block">
          <%= link_to "Cancel my account", registration_path(current_user), data: { confirm: "Are you sure?" }, method: :delete %>
        </div>
      </div>
    </div>
  </div>
