<!DOCTYPE html>
<html>
  <head>
    <title>Nomadtrip</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= filepicker_js_include_tag %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-fixed-top navbar-full navbar-dark bg-inverse">


            <%= link_to 'NomadTrip', trips_path, class:"navbar-brand" %>
          <ul class="nav navbar-nav pull-xs-right">

          <% if user_signed_in? %>
          <li class="nav-item li-menu">
            <%= link_to "My trips", trips_path %>
          </li>
          <li class="nav-item li-menu">
            <%= link_to 'Se déconnecter', destroy_user_session_path, :method => :delete %>
          </li>
          <% else %>
          <li class="nav-item li-menu"
            <%= link_to "Créer un compte", new_user_registration_path, class:"btn btn-outline-primary" %>
          </li>
        <% end %>
        </ul>
      </nav>
    </header>
    <div class="container">
      <br>
      <br>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.min.js"></script><!-- Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>

  </body>
</html>
