<!DOCTYPE html>
<html>
  <head>
    <title>Nomadtrip</title>
    <%= csrf_meta_tags %>
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= filepicker_js_include_tag %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar" >
          <a class="navbar-brand" href="/">NomadTrip</a>
            <ul class="pull-xs-right nav navbar-nav ">
              <% if user_signed_in? %>
              <li class="nav-item li-menu">
                <%= link_to "See all my travels", trips_path %>
              </li>
          <li class="nav-item li-menu">
            <%= link_to 'My account',  edit_user_registration_path(current_user) %>
          </li>
          <li class="nav-item li-menu">
            <%= link_to 'Logout', destroy_user_session_path, :method => :delete %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class:"btn btn-outline-primary" %>
          </li>
          <li class="nav-item">
            <%= link_to "Signup", new_user_registration_path, class:"btn btn-outline-primary" %>
          </li>
        <% end %>
        </ul>
      </div>
      </nav>
    </header>
    <div class="container">
      <br>
      <br>
      <% if notice %>
      <div class="alert alert-info" role="alert">
        <%= notice %>
      </div>
      <% end %>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
