<!DOCTYPE html>
<html>
  <head>
    <title>Nomadtrip</title>
    <%= csrf_meta_tags %>
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= filepicker_js_include_tag %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-dark navbar-fixed-top bg-inverse">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar" aria-controls="exCollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
          &#9776;
        </button>
        <div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar" >
          <a class="navbar-brand" href="/">NOMADSTEPS</a>
            <ul class="nav navbar-nav pull-xs-right">
              <% if user_signed_in? %>
                <li class="nav-item li-menu">
                  <%= link_to "<i class='fa fa-users' aria-hidden='true'></i> FRIENDS".html_safe, friendships_path, class:"link-menu" %>
                </li>
                <li class="nav-item li-menu">
                  <%= link_to "<i class='fa fa-calendar' aria-hidden='true'></i> TRIPS".html_safe, trips_path, class:"link-menu" %>
                </li>
                <li class="nav-item li-menu">
                  <%= link_to "Logout <i class='fa fa-times-circle-o' aria-hidden='true'></i>".html_safe, destroy_user_session_path, :method => :delete, class:"link-menu" %>
                </li>
                <li class="nav-item li-menu">
                  <%= link_to edit_profile_path, class:"link-menu" do %>
                    <%= avatar_navbar %> <%= current_user.first_name %>
                  <% end %>
                </li>

                </ul>
              <% else %>
              <li class="nav-item">
                <%= link_to "Login", new_user_session_path, class:"btn btn-outline-primary " %>
              </li>
              <li class="nav-item">
                <%= link_to "Signup", new_user_registration_path, class:"btn btn-outline-primary" %>
              </li>
            <% end %>
        </ul>
      </div>
      </nav>
    </header>
    <div class="container spacer-margin">
      <% if notice %>
      <div class="alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <strong><%= notice %></strong>
      </div>
      <% elsif alert %>
      <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= alert %>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
